html{
    font-family: Helvetica;
    background-color: #e7f8f8;
}

.container{
    background-color: #e0dbc7;
    max-width: 1100px;
    padding: 20px 50px;
    margin: 50px auto;
    position: relative;
}

.bold{
    font-weight: bold;
}

h1, p{
    text-align: center;
}
.main-paragraph{
    font-style: italic;
}

.featured-image{
    text-align: center;
    margin-top: 30px;
}
.biography-container{
    padding: 25px 0;
    border-top: 1px dashed #ddd;
    border-bottom: 1px dashed #ddd;
}
.quotes-container{
    background-color: #ad1414;
    padding: 30px;
    margin-top: 30px;
    border-radius: 100px;
}
.quotes-container blockquote{
    font-weight: bold;
    font-size: 30px;
   
}
.quotes-container p{
    font-style: italic;
    
}

.details-container p{
     padding: 1px 0;
    margin: 25px 0;
    border-top: 1px dashed #ddd;
    border-bottom: 1px dashed #ddd;
}

.more-information{
    margin: 10px;
}

}
/* finalizado */